<h1 class='page-title'>Edit Video Notes</h1>
<div class='videos-page-container'>
  <%= form_with model: @video, local: true do |form| %>
    <p>
      <%= form.label :video_link %><br>
      <%= form.text_field :url, value: @video.url, class: 'text-field-form' %><br>
    </p>
    <p>
      <%= form.label :notes %><br>
      <%= form.text_area :notes, value: @video.notes, class: 'free-text-entry-form' %><br>
    </p>
    <div class='new-button-container'>
      <p class='create-button-container'>
        <%= form.submit 'Save', class: 'create-button' %><br>
      </p>
      <p class='cancel-button-container'>
        <%= link_to 'Cancel', :back, class: 'cancel-button' %><br>
      </p>
      <p class='delete-button-container'>
        <%= link_to 'Delete', video_path(@video), class: 'delete-button',
            method: :delete, data: { confirm: 'Are you sure?'} %><br />
      </p>
    </div>
  <% end %>
</div>
