<h1 class='page-title'>Edit Video Notes</h1>
<div class='videos-container'>
  <%= form_with model: @video, local: true do |form| %>
    <p>
      <%= form.label :video_link %><br>
      <%= form.text_field :url, value: @video.url, class: 'text-field-form' %><br>
    </p>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, class: 'text-field-form' %><br>
    </p>
    <p>
      <%= form.label :notes %><br>
      <%= form.text_area :notes, value: @video.notes, class: 'free-text-entry-form' %><br>
    </p>
    <p>
      <%= form.submit 'Save', class: 'create-video' %><br>
    </p>
  <% end %>
</div>

