<h1 class='page-title'>Videos</h1>
<div class='videos-page-container'>
  <div class='new-video-container'>
    <div class='circle-container'>
      <div class='circle'></div>
      <%= link_to '+', new_video_path, class: 'new-video-button' %>
    </div>
    <%= link_to 'Add Video', new_video_path, class: 'new-video' %>
  </div>
  <div>
    <% @videos.each do |video| %>
      <div class='video-container'>
        <% if video.url.include? 'www.youtube.com' %>
          <div class='video'>
            <% if video.url.include? 'www.youtube.com' %>
              <% video_id = video.url.split('v=').last %>
              <iframe class='video-link' id='player' type='text/html' src=<%= "https://www.youtube.com/embed/#{video_id}" %> frameborder=0 ></iframe>
            <% end %>
          </div>
        <% end %>
        <div class='video-info-container'>
          <div class='video-notes'>
            <p class='video-title'><%= video.title %></p>
            <%= video.notes.gsub(/\r\n/, '<br />').html_safe %>
          </div>
          <div class='button-container'>
            <%= link_to 'Edit', edit_video_path(video), class: 'button edit-link' %>
            <%= link_to 'Delete', video_path(video), class: 'button edit-link',
                method: :delete, data: { confirm: 'Are you sure?'} %><br />
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

