<h1 class='page-title'>Edit Post</h1>
<div class='videos-page-container'>
  <%= form_with model: @report, local: true do |form| %>
    <p>
      <%= form.label :time_coffee_made %><br>
      <%= select_date @report.coffee_made_at, { order: [:month, :day, :year] }, { class: 'date-picker' } %>
    </p>
    <div class='report-edit-container'>
      <div class='report-picture'>
        <% if @report.picture.file.present? %>
            <%= cl_image_tag(@report.picture.url(:edit_view) , :class => 'picture') %>
        <% else %>
          <p>
            <%= form.hidden_field :picture_cache %>
            <%= form.file_field :picture %>
          </p>
        <% end %>
      </div>
      <div class='report-notes'>
        <p>
          <%= form.label :notes %><br />
          <%= form.text_area :notes, class: 'free-text-entry-form' %><br>
        </p>
      </div>
    </div>
    <div class='new-video-button-container'>
      <p class='create-video-container'>
        <%= form.submit 'Save', class: 'create-video' %><br>
      </p>
      <p class='cancel-video-container'>
        <%= link_to 'Cancel', :back, class: 'cancel-video' %><br>
      </p>
    </div>
  <% end %>
</div>
