<h1 class='page-title'>Posts</h1>
<div class='videos-page-container'>
  <div class='new-video-container'>
    <div class='circle-container'>
      <div class='circle'></div>
      <%= link_to '+', new_report_path, class: 'new-video-button' %>
    </div>
    <%= link_to 'Add Post', new_report_path, class: 'new-video' %>
  </div>
  <div>
    <% @reports.each do |report| %>
      <div class='video-container'>
        <%= report.coffee_made_at %>
        <%= report.notes.gsub(/\r\n/, '<br />').html_safe %>
        <%= cl_image_tag report.picture.filename , :width => 100, :height => 150, :crop => :fill %>
      </div>
      <%= link_to 'Edit', edit_report_path(report), class: 'button edit-link' %>
      <%= link_to 'Delete', report_path(report), class: 'button edit-link',
          method: :delete, data: { confirm: 'Are you sure?'} %><br />
    <% end %>
      </div>
    </div>
  </div>
</div>
