<h1 class='page-title'>Posts</h1>
<div class='videos-page-container'>
  <div class='new-report-container'>
    <div class='circle-container'>
      <div class='circle'></div>
      <%= link_to '+', new_report_path, class: 'new-video-button' %>
    </div>
    <%= link_to 'Add Post', new_report_path, class: 'new-video' %>
  </div>
  <div>
    <% Report.group_by_year.each do |year, reports| %>
      <div class='year-container'>
        <p class='year'><%= year %></p>
        <div class='reports-container'>
          <% reports.each do |report| %>
            <div class='report-container'>
              <div class='photo-container'>
                <p class='date'><%= report.coffee_made_at.strftime('%-m/%-d')%></p>
                <%= cl_image_tag(report.picture.url(:index_view) , :class => 'picture') %>
              </div>
              <div class='notes-container'>
                <p class='notes'><%= report.notes.gsub(/\r\n/, '<br />').html_safe %></p>
                <%= link_to 'Edit', edit_report_path(report), class: 'button edit-link' %>
                <%= link_to 'Delete', report_path(report), class: 'button edit-link',
                    method: :delete, data: { confirm: 'Are you sure?'} %><br />
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
