<h1 class='page-title'>Save New Post</h1>
<div class='videos-page-container'>
  <%= form_with model: @report, local: true do |form| %>
    <p>
      <%= form.label :time_coffee_made %><br>
      <%= select_date Date.today, { order: [:month, :day, :year] }, { class: 'date-picker' } %>
    </p>
    <p>
      <%= form.label :notes %><br />
      <%= form.text_area :notes, class: 'free-text-entry-form' %><br>
    </p>
    <p>
      <%= form.hidden_field :picture_cache %>
      <%= form.file_field :picture %>
    </p>
    <div class='new-video-button-container'>
      <p class='create-video-container'>
        <%= form.submit 'Save', class: 'create-video' %><br>
      </p>
      <p class='cancel-video-container'>
        <%= link_to 'Cancel', :back, class: 'cancel-video' %><br>
      </p>
    </div>
  <% end %>
</div>
